import React, { memo, useState, useEffect, useContext } from "react";
import {} from "react-router-dom";
import { appContext } from "@store";
import {} from "react-query";

import {} from "antd";
import {} from "@ant-design/icons";

export default memo(function <%= data.componentName %>() {
    return (
        <div>
            <h2><%= data.componentName %></h2>
        </div>
    );
});