import React, { memo, useState, useEffect, useContext ,useRef} from "react";
import { useLocation, useHistory } from "react-router-dom";
import {} from "react-query";

import { Button } from "antd";
import {} from "@ant-design/icons";

import { gqlReq } from "@services"

import { useSelector, useDispatch } from 'react-redux';
import type { IStore } from '@store';

export default memo(function <%= data.componentName %>() {
    const location = useLocation();
    const history = useHistory();

    const storeInfo = useSelector((store: IStore) => store);

    useEffect(()=>{

    },[])

    return (
        <div>
            <h2><%= data.componentName %></h2>
        </div>
    );
});