import React, { memo, useState, useEffect, useContext } from "react";
import { useLocation, useHistory } from "react-router-dom";
import {} from "react-query";

import { Button } from "antd";
import {} from "@ant-design/icons";

import { appContext } from "@store";
import { customLog } from "@utils"
import { gqlReq } from "@services"

export default memo(function <%= data.componentName %>() {
    const location = useLocation();
    const history = useHistory();

    useEffect(()=>{

    },[])

    return (
        <div>
            <h2><%= data.componentName %></h2>
        </div>
    );
});